<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contentFolder ANY>
<!ATTLIST contentFolder id ID #REQUIRED>
<!ELEMENT bodyTemplate ANY>
<!ATTLIST bodyTemplate id ID #REQUIRED>
<!ELEMENT stock ANY>
<!ATTLIST stock id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="6e061f6c-2d86-4632-8dc5-035b56f8deed" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-08T13:32:55" updateDate="2018-09-08T13:33:09" nodeName="Home" urlName="home" path="-1,1062" isDoc="" nodeType="1061" creatorName="Niall Walker" writerName="Niall Walker" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <stock id="1072" key="b98c3e61-da98-4cf0-8834-b57c732bb711" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2018-09-08T18:15:57" updateDate="2018-09-08T18:15:57" nodeName="Stock Management" urlName="stock-management" path="-1,1062,1072" isDoc="" nodeType="1070" creatorName="Niall Walker" writerName="Niall Walker" writerID="0" template="1069" nodeTypeAlias="stock" isPublished="true" />
  </home>
  <contentFolder id="1064" key="aacfbc97-b706-403e-bdaa-caba855bea70" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-09-08T14:45:20" updateDate="2018-09-08T14:45:28" nodeName="Templates" urlName="templates" path="-1,1064" isDoc="" nodeType="1063" creatorName="Niall Walker" writerName="Niall Walker" writerID="0" template="0" nodeTypeAlias="contentFolder" isPublished="true">
    <bodyTemplate id="1066" key="1655f444-dd28-400e-a3a7-650d93a06ff0" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2018-09-08T14:48:30" updateDate="2018-09-08T15:43:45" nodeName="Intro Dashboard" urlName="intro-dashboard" path="-1,1064,1066" isDoc="" nodeType="1065" creatorName="Niall Walker" writerName="Niall Walker" writerID="0" template="0" nodeTypeAlias="bodyTemplate" isPublished="true">
      <body><![CDATA[<div>
<p><span class="h2">This dashboard provided dynamic content to an Umbraco backend<br /></span></p>
<p>Using Umbraco content nodes as templates within it's own database, we can serve users up to date content for marketing, directive or informative purposes. This has been done by making a web request to a surface controller, serializing it's response and then processing and pushing the data to the view. In a production scenario, the surface controller or API Endpoint would be hosted externally depending on it's requirements.</p>
</div>]]></body>
    </bodyTemplate>
  </contentFolder>
</root>